/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'C128cHc';
  src: url('assets/fonts/C128cHc.ttf') format('truetype');
  font-weight: normal;
font-style: normal;
}

label {
  font-family: Arial;
}

html {
  font-size: 1.7em;
}
input {
  font-size: 1.7em;
}